{% extends "steam/base.html" %}

{% block heading %}Drinker Information: {{drinker.name}}{% endblock %}

{% block content %}

<p>
Address: {{drinker.address}}<br/>
{{steam.count}} beer{{steam|pluralize}} liked:
{% for beer in steam %}
    {{beer.name}}{% if not forloop.last %},{% endif %}
{% endfor %}<br/>
{{frequents.count}} bar{{frequents|pluralize}} frequented:
{% for frequent in frequents %}
    {{frequent.bar.name}}
    ({{frequent.times_a_week}} time{% if frequent.times_a_week > 1 %}s{% endif %} a week){% if not forloop.last %},{% endif %}
{% endfor %}<br/>
<br/>
<a href="{% url 'steam.views.edit_drinker' drinker_name=drinker.name %}">Edit</a> this information or see <a href="{% url 'steam.views.all_drinkers' %}">all drinkers</a>.
</p>

{% endblock %}
