{% extends "steam/base.html" %}



{% block content %}

{% if user.is_authenticated %}
<div class="container">
<h2>Select an item below to get started</h2>
	<ul>
		<div class="list-group">
			<a class="list-group-item" href="{% url 'steam.views.questions'  %}">Questions</a>
			<a class="list-group-item" href="{% url 'steam.views.vote'  %}">Vote on Matches</a>
			<a class="list-group-item" href="{% url 'steam.views.matches'  %}">View Your Matches</a>
			<a class="list-group-item" href="{% url 'steam.views.friendrequests'  %}">Friend Requests</a>
			<a  class="list-group-item" class="list-group-item"href="{% url 'steam.views.friends'  %}">Friends List</a>
			<a  class="list-group-item" class="list-group-item"href="{% url 'steam.views.friends'  %}">Suggested Friends</a>
		</div>


	</ul>

{% else %}
<center>
<h2>Welcome to Steamz!</h2>
<h3>Vote. Match. Love.</h3>
</center>
<center>
<h3><a href="{% url 'steam.views.login'  %}">Login</a></h3>

<h3>or</h3>

<h3><a href="{% url 'steam.views.register'  %}">Register</a></h3>
</center>
{% endif %}


</div>
{% endblock %}



