{% extends "steam/base.html" %}


{% block content %}
<p>
	<h1>Matches</h1>
	

	{% for m in final_matches_1 %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="well well-sm col-md-4">
			You have been matched with {{m.user1.first_name}} {{m.user1.last_name}}
			<form action="go" method="post">
				{% csrf_token %}
				Would you like to accept this match?
				<div class="radio">
					<label>

						<input type="radio" name="accept1"  value="y" > Yes

					</label>
					<label>

						<input type="radio" name="accept1"  value="n" > No

					</label>
				</div>
				<input type="hidden" name="match" value={{m.id}}>
				<input type="hidden" name="userPos" value=2>
				<input type="submit" value="Submit"> 
			</form>
		</div>
	</div>
</div>

{% endfor %}

	{% for m in final_matches_2 %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="well well-sm col-md-4">
			You have been matched with {{m.user1.first_name}} {{m.user1.last_name}}
			<form action="go" method="post">
				{% csrf_token %}
				Would you like to accept this match?
				<div class="radio">
					<label>

						<input type="radio" name="accept1"  value="y" > Yes

					</label>
					<label>

						<input type="radio" name="accept1"  value="n" > No

					</label>
				</div>
				<input type="hidden" name="match" value={{m.id}}>
				<input type="hidden" name="userPos" value=2>
				<input type="submit" value="Submit"> 
			</form>
		</div>
	</div>
</div>

{% endfor %}
</p>
{% endblock %}


<!-- 	<input type="hidden" name="title" value="title test">
 
  {{ form.as_p }}
   <input type='hidden' name="tag" value=4354>
  <input type="submit" value="Register">
</form> -->
