{% extends "steam/base.html" %}


{% block content %}
<p>
	You have answered the following questions:	</p>
	{% for q in past_questions %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="well well-sm col-md-4">
			{{q.qid.question_text}} <br>
			You answered: {{q.answer}}
		</div>
	</div>
</div>

<br>
<br>
{% endfor %}



{% if msg_exists %}

{{ msg }}

{% else %}

<p>Here is a new question: </p>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="well well-sm col-md-4">
			<form action="answer" method="post">
				{% csrf_token %}


				{{new_question.question_text}}:  
				<input type="hidden" name="question" value={{new_question.qid}}>
				Yes: <input type="radio" name="respond" value="Yes" />
				No: <input type="radio" name="respond" value="No" />
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>




{% endif %}
{% endblock %}



